.navbar{
    .cart-btn{
        display: none;
    }
    
     .navbar-toggler{
        background-color: $bg-color;
        border: 0px;
        #navicon{
            
            position: relative;
            width: 21px;
            height: 25px;
            padding: 0;
            border-radius: 5px;
            span{
                background: $main-color;
                position: absolute;
                height: 2px;
                width: 100%;
                border-radius: 9px;
                opacity: 1;
                margin: 0 auto;
                transition: 0.25s ease-in-out;
                right: 0;
            }
            span:first-child{
                top: 5px;
            }
            span:nth-child(2){
                top: 11px;
            }
            span:last-child{
                top: 18px;
                width: 70%;
            }
        }
     }
    .nav-item{
     
        .nav-link{
            color: $main-color;
            border: 1px solid $main-color;
            border-radius: 10px;
        }
    }
}

.navbar{
    
    
    @media (max-width: 991px) {
        .cart-btn {
            line-height: 2;
            position: absolute;
            width: 24%;
            right: 17%; 
            top: 23%; 
            display: block !important;
            padding: 5px;
            border-radius: 8px;
        }
    }
    @media (max-width: 938px) {
        .cart-btn{
            right: 15%; 
        }
    }
    @media (max-width: 910px) {
        .cart-btn{
            right: 15%;  
        }
    }
    @media (max-width: 889px) {
        .cart-btn{
            right: 14%;  
        }
    }
    @media (max-width: 866px) {
        .cart-btn{
            right: 13%;  
        }
    }  
    @media (max-width: 846px) {
        .cart-btn{
            right: 12%;  
        }
    }  
    @media (max-width: 794px) {
        .cart-btn{
            right: 10%;  
        }
    }  
    @media (max-width: 768px) {
        .cart-btn{
            right: 18%;  
        }
    } 
    
    @media (max-width: 707px) {
        .cart-btn{
            right: 16%;  
        }
    } 
    @media (max-width: 650px) {
        .cart-btn{
            right: 14%;  
        }
    } 
    @media (max-width: 587px) {
        .cart-btn{
            right: 12%;  
        }
    } 
    @media (max-width: 520px) {
        .cart-btn{
            right: 10%;  
        }
    } 
    @media (max-width: 500px) {
        .cart-btn{
            width: 30%;
            right: 10%;  
        }
    } 
    @media (max-width: 460px) {
        .cart-btn{
            width: 30%;
            right: 13%;  
        }
    } 
    @media (max-width: 360px) {
        .cart-btn{
            width: 30%;
            right: 15%;  
        }
    } 
}



.right{
    .btn-calander{
        border: 1px solid $main-color;
        border-radius: 10px;
    }
    .btn-cart{
        background-color: $main-color;
    }
}