.slider-area {
    .c-slider {
        .slick-track {
            display: flex;
            align-items: center;
            justify-content: center;
            .slick-slide {
                
                .img-hold {
                    img {
                        margin: 0 , auto;
                        padding: 0 1.5rem;
                    }
                    .cards {
                        margin: 0 , auto;
                        padding: 0 1.5rem;
                    }
                }
           } 
        }
       
    }
}